@import url(./reset.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #10101e;
    font-family: 'Segoe UI', sans-serif !important;
    gap: 12rem;
}

.timer {
    color: #fff;
    background-color: #2E94E3;
    width: 400px;
    padding: 10px 10px;
    border: 3px solid #2E94E3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 5rem;
    box-shadow: 0 0 30px #2E94E3;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}


.minute-clock, .second-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minute-clock span, .second-clock span{
    font-size: 4rem;
}

.button__container {
    display: flex;
    gap: 20rem;
}

.button__container button {
    color: #2E94E3;
    padding: 12px 40px;
    border: 1px solid #2E94E3;
    border-radius: 10px;
    box-shadow: 0 0 10px  rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-in;
}

.button__container button:hover {
    color: #fff;
    background-color: #2E94E3;
}